# ==========================================
# Python Environment
# ==========================================
.venv/
venv/
env/

# ==========================================
# Data
# ==========================================
data/

# ==========================================
# Model Artifacts
# ==========================================
*.pkl
*.joblib

# ==========================================
# Python Cache
# ==========================================
__pycache__/
*.py[cod]

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/

# ==========================================
# macOS
# ==========================================
.DS_Store
