# ==========================================
# Python environments
# ==========================================
.venv/
venv/
env/

# ==========================================
# Data
# ==========================================
data/

# ==========================================
# Model artifacts
# ==========================================
*.pkl
*.joblib

# ==========================================
# Python cache
# ==========================================
__pycache__/
*.py[cod]

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/

# ==========================================
# macOS
# ==========================================
.DS_Store